.header {
  width: 100%;
  padding: 0.5rem 3.5rem;
  display: flex;
  border-bottom: 1px solid lightsteelblue;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);

  align-items: center;

  .logo {
    width: 6rem;
    height: auto;
    &__img {
      width: 100%;
    }
  }

  .nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .react-datepicker-wrapper {
      margin-left: auto;
      width: 15rem;
      .react-datepicker__input-container {
        height: 3.2rem;

        input {
          text-align: center;
          height: 100%;
          display: block;
          width: 100%;
          padding: 0.45rem 0.95rem;
          font-size: 1.6rem;
          line-height: 1.7rem;
          color: #495057;
          background-color: #fff;
          background-clip: padding-box;
          border: 1px solid #ced4da;
          border-radius: 0.35rem;
          transition: border-color 0.15s ease-in-out,
            box-shadow 0.15s ease-in-out;

          &:focus {
            color: #495057;
            background-color: #fff;
            border-color: #80bdff;
            outline: 0;
            box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
          }
        }
      }
    }

    &__item {
      padding: 0.5rem 1.5rem;
    }

    &__link {
      text-transform: capitalize;
      font-size: 1.6rem;

      text-decoration: none;
      color: rgb(0, 123, 255);
      cursor: pointer;

      &:visited,
      &:active {
        color: rgb(0, 123, 255);
      }

      &:hover {
        color: rgb(41, 5, 199);
      }
    }
  }

  .user {
    margin-left: 2.5rem;

    &__name {
      text-transform: capitalize;
      font-size: 1.6rem;
    }
  }
}
