.videoconferinte {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
  position: relative;

  .title {
    font-size: 3.5rem;
    margin-bottom: 6rem;
  }

  &__data {
    padding-left: 1rem;
  }
}

.adauga-vc {
  background-image: none;
  background-color: rgb(228, 120, 42);
  position: fixed;
  top: 8rem;
  right: 3rem;
  padding: 1rem 2rem;
  font-size: 1.4rem;
  font-weight: bold;
  a {
    text-decoration: none;
    color: white;
  }

  &:hover {
    background-color: white;
    border: 1px solid rgb(228, 120, 42);
    color: #e4782a;

    a {
      color: rgb(228, 120, 42);
    }
  }
}
